body {
    background-color: #d7ccc8;
    margin: 10px;
}
h1{
    text-align: center;
}

.container {
    display: grid;

    grid-template-columns: 300px auto;
    grid-template-rows: 50px 50px 200px;

    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 200px); */

    /* grid-template: repeat(2, 50px) / repeat(3, 1fr); */

    grid-gap: 3px;
}

.container > div{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>div:nth-child(1) {
    background-color: #ec407a;
}

.container>div:nth-child(2) {
    background-color: #ef5350;
}

.container>div:nth-child(3) {
    background-color: #ab47bc;
}

.container>div:nth-child(4) {
    background-color: #7e57c2;
}

.container>div:nth-child(5) {
    background-color: #5c6bc0;
}

.container>div:nth-child(6) {
    background-color: #42a5f5;
}

/* @media screen and (max-width: 798px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 200px);
    }
    
}

@media screen and (max-width: 468px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 200px);
    }
    
} */